<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.final_react_project.dao.LoginDAO">
    <select id="selectById" parameterType="String" resultType="LoginDTO">
        select * from login where id=#{id}
    </select>

    <insert id="insert" parameterType="LoginDTO">
        insert into login(id,password,role,provider) values(#{id},#{password},#{role},#{provider})
    </insert>
</mapper>