<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.final_react_project.dao.MenuDAO">
    <select id="selectByIdx" parameterType="int" resultType="MenuDTO">
        select * from menu where idx=#{idx}
    </select>

    <select id="selectAll" parameterType="int" resultType="MenuDTO">
        select * from menu where company_idx=#{idx}
    </select>

    <update id="update" parameterType="MenuDTO">
        update menu set price=#{price} where idx=#{idx}
    </update>

    <delete id="delete" parameterType="int">
        delete from menu where idx=#{idx}
    </delete>

    <insert id="insert" parameterType="MenuDTO">
        insert into menu values(0,#{name},#{price},#{image},#{company_idx})
    </insert>
</mapper>