<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.final_react_project.dao.OrderedDAO">
    <insert id="insert" parameterType="OrderedDTO">
        insert into ordered values(0,#{count},#{menu_idx},#{login_id})
    </insert>

</mapper>